@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);

h1 {
  font-family: "Roboto";
  font-size: 48px;
  text-decoration: $accentColor underline;
  font-style: italic;
}

h2 {
  border-bottom: none;
}

.navbar .home-link span,
.sidebar .sidebar-group .sidebar-heading {
  color: $textColor;
  font-family: "Roboto";
  text-decoration: $accentColor underline;
  font-style: italic;
}

.sidebar .sidebar-heading {
  opacity: 1 !important;
}

.home .hero {
  text-align: center;
}

.home .hero .action-button {
  color: black !important;
  background-color: white !important;
  border: 1px solid black !important;
  font-family: "Roboto";
  margin: 15px auto;
  cursor: pointer;
  width: 250px;
  display: block !important;
}

.home .hero .action-button u {
  text-decoration: $accentColor underline;
  text-decoration-thickness: 2px;
}

.home .hero .action-button:hover {
  -webkit-box-shadow: 5px 5px 0px -1px $accentColor; 
  box-shadow: 5px 5px 0px -1px $accentColor;
}

.tag-info-block {
  padding: 0.5rem 1.5rem;
  color: $textColor;
  background-color: $lightBackgroundColor;
  border-left: 8px solid $textColor;
}

a > code {
  color: $accentColor !important;
}

#tagline {
  position: relative;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    left: -10px;
  }
  50% {
    left: 10px;
  }
  100% {
    left: -10px;
  }
}
