@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);

h1 {
  font-family: "Roboto";
  font-size: 48px;
  text-decoration: $accentColor underline;
  font-style: italic;
}

h2 {
  border-bottom: none;
}

.navbar .home-link span,
.sidebar .sidebar-group .sidebar-heading {
  color: $textColor;
  font-family: "Roboto";
  text-decoration: $accentColor underline;
  font-style: italic;
}

.sidebar .sidebar-heading {
  opacity: 1 !important;
}

.home .hero {
  text-align: center;
}

.home .hero .action-button {
  color: black !important;
  background-color: white !important;
  border: 1px solid black !important;
  font-family: "Roboto";
  margin: 15px auto;
  cursor: pointer;
  width: 250px;
  display: block !important;
}

.home .hero .action-button:hover span.hide-on-hover {
  visibility: hidden;
}

.home .hero .action-button u {
  text-decoration: $accentColor underline;
  text-decoration-thickness: 2px;
}

.home .hero .action-button:hover {
  background-color: $accentColor !important;
  text-decoration: $backgroundColor underline;
  text-decoration-thickness: 3px;
  color: white !important;
}

.tag-info-block {
  padding: 0.5rem 1.5rem;
  color: $textColor;
  background-color: $lightBackgroundColor;
  border-left: 8px solid $textColor;
}

a > code {
  color: $accentColor !important;
}
