@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Rubik:ital,wght@1,700&display=swap');

main, body, html {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 16px;
  line-height: 24px;
}

aside.sidebar {
  background-color: #F1F4F9;
  border-right: none;
}

p.sidebar-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 24px !important;
  height: 36px;
  margin-left: 10px;
  padding: 5px 8px !important;
  width: auto !important;
  border-radius: 8px;
}

a.sidebar-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 24px !important;
  height: 36px;
  margin-left: 10px;
  padding: 5px 8px !important;
  width: auto !important;
  border-radius: 8px;
}

section.sidebar-group a.sidebar-link  {
  margin-left: 20px;
}

a.sidebar-link.active {
  border-left-color: #F1F4F9 !important;
  background-color: #FFDBDF;
  color: #FF0420 !important;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-style: italic;
  border-bottom: none;
}

.search-box {
  order: 1;
  margin-right: 0;
  margin-left: 1rem;

  .suggestions {
    left: auto !important;
    right: 0 !important;
  }

  input {
    border-color: #CBD5E0 !important;
    border-radius: 100px !important;
    background-color: #FFFFFF !important;
  }
}

header.navbar {
  border-bottom: none;
  box-shadow: 0px 6px 8px -6px rgba(20, 23, 26, 0.06), 0px 8px 16px -6px rgba(20, 23, 26, 0.04);
}

span.site-name {
  display: none !important;
}

a.nav-link,
div.nav-item span.title {
  font-weight: 600;
}

a.nav-link:not(.router-link-active),
div.nav-item span.title {
  color: #68778D;
}

.theme-default-content:not(.custom) {
  padding-top: 0px;
}